# Compiled Object files
research/*.slo
research/*.lo
research/*.o
research/
# Compiled Dynamic libraries
research/*.so
research/*.dylib
research/
# Compiled Static libraries
research/*.lai
research/*.la
research/*.a
research/*.ppm
research/a.out
research/*.gch
research/ray-tracer
research/obj/
research/images/
research/out*

final/*.bmp
final/*.exe

from_scratch/*.bmp
from_scratch/*.exe

research/